#container {
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
	grid-template-rows: 50px auto 50px;
	grid-template-areas: 
		"header header header"
		". main ."
		"footer footer footer";
}
header {
	grid-area: header;
	background-color: #c9fff7;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
footer {
	grid-area: footer;
	background-color: red;
}
div#main {
	grid-area: main;
	background-color: yellow;
}
h1 {
	text-align: center;
}
#current {
	font-weight: bold;
}
input {
	display: none;
	visibility: hidden;
}
label {
	display: block;
	padding: 0.5em;
	border-bottom: 1px solid #ccc
	color: #666;
}
label:hover {
	color: 000;
}
label::before {
  font-family: monospace;
  font-weight: bold;
  font-size: 15px;
  content: "+";
  vertical-align: text-top;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 3px;
  background: radial-gradient(ellipse at center, #CCC 50%, transparent 50%);
}
.syllabustable {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	height: 0px;
	overflow: hidden;
	transition: height 0.5s;
	color: #000;
}
input:checked ~ .collapsible ~ .syllabustable {
	height: 100%;
}
input:checked ~ label::before {
	content: "-";
}
.syllabuscontent {
	width: 40%;
	margin: 10px;
}